
.ProseMirror {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: anywhere;
    padding: 0;
}

.react-renderer {
    position: relative;
}

/* placeholder */
.react-renderer.is-editor-empty::before {
    content: attr(data-placeholder);
    color: var(--placeholder);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}

mark {
    border-radius: 0.4rem;
    padding: 0.1rem 0.3rem;
}