/* NO borrar - columna de mirror */
.editor-canvas .ProseMirror {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
}

/* NO borrar - columna de mirror */

.ProseMirror[role="textbox"] {
    min-height: 100%;
    padding-bottom: 40vh;
}

.ProseMirror:focus {
    outline: none;
}

.ProseMirror-focused {
    outline: none;
}

.ProseMirror {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: anywhere;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.react-renderer {
    position: relative;
}


mark {
    border-radius: 0.4rem;
    padding: 0.1rem 0.3rem;
}
