
.looma-block[data-type="blockquote"] {
    background-color: var(--card);
    padding: 8px 24px;
    margin: 0.5rem 0;
    color: var(--subtitle);
    border-radius: 24px;
    font-style: italic;
    border-left: 0.25em solid var(--primary);
    border-right: 0.25em solid var(--primary);
}