
/* Base*/
.looma-block[data-type="bulletList"] {
    margin: 0;
    padding-left: 25px;
}

/* Nivel 1 */
.looma-block[data-type="bulletList"] [data-type="paragraph"] {
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Nivel 2 */
.looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] [data-type="paragraph"] {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Nivel 3 (nietos) */
.looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] [data-type="paragraph"] {
    margin-top: 5px;
    margin-bottom: 0;
}

/* Nivel 1 */
.looma-block[data-type="bulletList"] li {
    list-style-type: disc;
}

/* Nivel 2 */
.looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] li {
    list-style-type: circle;
}

/* Nivel 3 (nietos) */
.looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] li {
    list-style-type: none;
}

/* Nivel 3 (nietos) */
.looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] li::marker {
    content: "- ";
}

.looma-block[data-type="bulletList"] li::marker {
    color: var(--primary);
}