
.looma-block[data-type="heading"][data-level="1"] {
    font-size: 28px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.looma-block[data-type="heading"][data-level="2"] {
    font-size: 21px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.looma-block[data-type="heading"][data-level="3"] {
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* placeholder */
.node-heading.is-empty::after {
    content: attr(data-placeholder);
    color: var(--placeholder);
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}