/* =========================
   RESET GLOBAL
   ========================= */

.ProseMirror {
    counter-reset: ol-1;
}


/* =========================
   BASE ITEM
   ========================= */

[data-type="orderedItem"] {
    display: block;
    position: relative;
}

[data-type="orderedItem"]::before {
    position: absolute;
    left: 24px;
    font-weight: 600;
    color: var(--primary);
}


/* =========================
   NIVEL 0 (PADRE)
   ========================= */

[data-type="orderedItem"][indent="0"] {
    counter-increment: ol-1;
    counter-reset: ol-2;
    padding-left: 48px;
}

[data-type="orderedItem"][indent="0"]::before {
    content: counter(ol-1) ".";
}


/* =========================
   NIVEL 1 (HIJO)
   ========================= */

[data-type="orderedItem"][indent="1"] {
    padding-left: 60px;
    counter-increment: ol-2;
    counter-reset: ol-3;
}

[data-type="orderedItem"][indent="1"]::before {
    content: counter(ol-1) "." counter(ol-2);
}


/* =========================
   NIVEL 2 (NIETO)
   ========================= */

[data-type="orderedItem"][indent="2"] {
    padding-left: 76px;
    counter-increment: ol-3;
}

[data-type="orderedItem"][indent="2"]::before {
    content:
        counter(ol-1) "."
        counter(ol-2) "."
        counter(ol-3);
}