[data-type="taskItem"] {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    position: relative;
}

[data-type="taskItem"] .task-checkbox {
    width: 16px;
    height: 16px;
    border: 2px solid var(--primary);
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    user-select: none;
}

[data-type="taskItem"][data-checked="true"] .task-checkbox {
    background-color: var(--primary);
    border-color: var(--primary);
    cursor: pointer;
}

[data-type="taskItem"][data-checked="true"] .task-checkbox::after {
    content: "✓";
    font-size: 10px;
    color: white;
}

[data-type="taskItem"] .task-content {
    flex: 1;
}

[data-type="taskItem"][data-checked="true"] .task-content {
    text-decoration: line-through;
    color: var(--subtitle);
}

[data-type="taskItem"][indent="0"] {
    margin-top: 10px;
    margin-bottom: 5px;
}

[data-type="taskItem"][indent="1"] {
    padding-left: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}

[data-type="taskItem"][indent="2"] {
    padding-left: 44px;
    margin-top: 5px;
    margin-bottom: 0;
}

/* placeholder */
[data-type="taskItem"].is-empty::after {
    content: attr(data-placeholder);
    color: var(--placeholder);
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
}

[data-type="taskItem"][indent="1"].is-empty::after {
    content: attr(data-placeholder);
    color: var(--placeholder);
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}

[data-type="taskItem"][indent="2"].is-empty::after {
    content: attr(data-placeholder);
    color: var(--placeholder);
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 71px;
    transform: translateY(-50%);
}