.looma-editor {
    --bn-colors-editor-background: transparent;
    --bn-colors-editor-text: inherit;
    --bn-colors-border: transparent;
    --bn-colors-shadow: transparent;
    --bn-colors-side-menu: transparent;

    --bn-font-family: inherit;
    --bn-border-radius: 0px;
}

.looma-editor .bn-block-content {
    padding: 2px 0;
}

.looma-editor [contenteditable] {
    outline: none;
}