@config "../tailwind.config.js";
@import "tailwindcss";


.slash-menu-container {
    position: fixed;
    z-index: 50;
}

.looma-block {
    position: relative;
}
.node-paragraph,
.node-heading{
    padding: 6px 0;
}

.looma-block[data-type="heading"][data-level="1"] {
    font-size: 2.25rem;
}

.looma-block[data-type="heading"][data-level="2"] {
    font-size: 1.75rem;
}

.looma-block[data-type="heading"][data-level="3"] {
    font-size: 1.4rem;
}

/* Nivel 1 */
.looma-block[data-type="bulletList"] {
    margin: 0;
    padding-left: 1.25em;
}

/* Nivel 2 */
.looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] {
    margin: 0;
    padding-left: 1.5em;
}

/* Nivel 3 (nietos) */
.looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] {
    margin: 0;
    padding-left: 1.75em;
}


/* Nivel 1 */
.looma-block[data-type="bulletList"] li {
    list-style-type: disc;
}

/* Nivel 2 */
.looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] li {
    list-style-type: circle;
}

/* Nivel 3 (nietos) */
.looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] li {
    list-style-type: none;
}

/* Nivel 3 (nietos) */
.looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] li::marker {
    content: "- ";
}

.looma-block[data-type="bulletList"] li::marker {
    color: var(--primary);
}
