@config "../tailwind.config.js";
@import "tailwindcss";

.ProseMirror {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: anywhere;
}

.node-paragraph,
.node-heading,
.node-bulletList,
.node-blockquote{
    padding: 8px 0;
}

.looma-block[data-type="heading"][data-level="1"] {
    font-size: 2.25rem;
}

.looma-block[data-type="heading"][data-level="2"] {
    font-size: 1.75rem;
}

.looma-block[data-type="heading"][data-level="3"] {
    font-size: 1.4rem;
}

/* Nivel 1 */
.looma-block[data-type="bulletList"] {
    margin: 0;
    padding-left: 1.25em;
}

/* Nivel 2 */
.looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] {
    margin: 0;
    padding-left: 1.5em;
}

/* Nivel 3 (nietos) */
.looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] {
    margin: 0;
    padding-left: 1.75em;
}


/* Nivel 1 */
.looma-block[data-type="bulletList"] li {
    list-style-type: disc;
}

/* Nivel 2 */
.looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] li {
    list-style-type: circle;
}

/* Nivel 3 (nietos) */
.looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] li {
    list-style-type: none;
}

/* Nivel 3 (nietos) */
.looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] .looma-block[data-type="bulletList"] li::marker {
    content: "- ";
}

.looma-block[data-type="bulletList"] li::marker {
    color: var(--primary);
}


.looma-block[data-type="blockquote"] {
    background-color: var(--card);
    padding: 8px 24px;
    margin: 0.5rem 0;
    color: var(--subtitle);
    border-radius: 24px;
    font-style: italic;
    border-left: 0.25em solid var(--primary);
    border-right: 0.25em solid var(--primary);
}

.ProseMirror hr {
    border: none;
    height: 1px;
    margin: 2rem 0;

    background-image: linear-gradient(to right,
            transparent,
            rgba(185, 210, 86, 0.6) 20%,
            var(--primary) 50%,
            rgba(185, 210, 86, 0.6) 80%,
            transparent);
}

.ProseMirror hr+p.is-empty {
    min-height: 0;
    margin-top: 0;
}